.row {
    width: $grid-width;
    height: $grid-height;
    margin: 0 auto;
    
    &:not(:last-child) {
        margin-bottom: $grid-gap-vertical;
    }

    @include clearfix;

    [class ^= "col-"] {
        float: left;
        height: 5rem;
        color: $cinzaClaro;

        &:not(:last-child) {
            margin-right: $grid-gap-horizontal;
        }
    }

    .col-1-of-2 {
        width: calc((100% - #{$grid-gap-horizontal}) / 2 );
    }

    .col-1-of-3 {
        width: calc((100% - 2 * #{$grid-gap-horizontal}) / 3 );
    }

    .col-2-of-3 {
        width: calc(2 * ((100% - 2 * #{$grid-gap-horizontal}) / 3 ) + #{$grid-gap-horizontal});
    }

    .col-1-of-4 {
        width: calc((100% - 3 * #{$grid-gap-horizontal}) / 4 );
    }

    .col-2-of-4 {
        width: calc(2 * ((100% - 3 * #{$grid-gap-horizontal}) / 4 ) + #{$grid-gap-horizontal});
    }

    .col-3-of-4 {
        width: calc(3 * ((100% - 3 * #{$grid-gap-horizontal}) / 4 ) + 2 * #{$grid-gap-horizontal});
    }
}