.navigation {

    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $branco;
        width: 7rem;
        height: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 2000;
    }

    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($verdeClaro, $verdeEscuro);
        z-index: 1000;

        transform: scale(70);
    }

    &__nav {
        height: 100vh;
        width: 100%;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 1500;
    }

    &__list {
        position: absolute;
        @include center-position;
        list-style: none;
        text-align: center;
    }

    &__item {
        margin: 1rem;
    }

    &__link {

        &:visited,
        &:link {
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            color: $branco;
            padding: 1rem 2rem;
            text-decoration: none;
            text-transform: uppercase;

            // Com o bg-size podemos criar uma transição deixando ele maior (fora da box):
            background-image: linear-gradient(120deg,
                                              transparent 0%,
                                              transparent 50%,
                                              $branco 50%);
            background-size: 230%;
            transition: all .5s;

            span {
                margin-right: 1.5rem;
                display: inline-block;
            }
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $verdeMedio;
            transform: translateX(1rem);
        }
        
    }
}