// Cores
$verdeClaro: #7ed56f;
$verdeMedio: #55c57a;
$verdeEscuro: #28b485;

$cinzaClaro: #777;
$cinzaClaro2: #f7f7f7;
$cinzaClaro3: #eee;
$cinzaEscuro: #999;

$laranjaClaro: #ffb900;
$laranjaEscuro: #ff7730;

$azulClaro: #2998ff;
$azulEscuro: #5643fa;

$branco: #fff;
$preto: #000;

// Grid:
$grid-width: 114rem; 
$grid-height: 30rem; 
$grid-gap-vertical: 8rem; 
$grid-gap-horizontal: 6rem; 

// Tamanhos de Fonte:
$fonte-padrao: 1.6rem