@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin center-position {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin teste-borda {
    border: 2px solid red;
}


/*

MEDIA QUERIES MANAGER:

0 - 600px:          Celular
600px - 900px:      Tablet vertical
900px - 1200px:     Tablet horizontal
[1200px - 1800px]:  Estilo normal
1800px + :          Desktop grande

Breakpoints:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px

*/
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };   // 600px
    }

    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content };   // 900px
    }

    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };  // 1200px
    }

    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };  // 1800px +
    }

}