/* Aula 74, 75 */

.container {
    background-color: #eee;
    width: 1000px;
    height: 500px;
    margin: 60px auto;
    border-radius: 4px;
    padding: 10px;

    display: grid;
    /* Use fr para ter o tamanho em fração do total (lembra flex-grow) */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* grid-template-rows: repeat(2, 150px); */
    row-gap: 30px;
    column-gap: 50px;
}

.item {
    padding: 20px;
    font-size: 30px;
    font-family: sans-serif;
    color: white;

    border-radius: 4px;
    box-shadow: 0 4px 8px #00000080;
}

.item--1 {
    background-color: orange;
}

.item--2 {
    background-color: green;
}

.item--3 {
    background-color: violet;
}

.item--4 {
    background-color: pink;
}

.item--5 {
    background-color: blue;
}

.item--6 {
    background-color: brown;
}