* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    height: 90vh;
    width: 100%;
    background-color: lightcyan;
}

.container {
    background-color: lightgoldenrodyellow;
    width: 1000px;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 5px 15px #00000080;
    padding: 12px;

    display: grid;
    grid-template-rows: [header-start] 50px [header-end box-start] 100px [box-end main-start] 300px [main-end footer-start] 50px [footer-end];

    grid-template-columns: repeat(4, [col-start] 1fr [col-end]);

    grid-template-areas: "head head head head"
                         "box1 box2 box3 side"
                         "main main main side"
                         "foot foot foot foot";
    gap: 40px;
}

.container__item {
    background-color: lightsalmon;
    border-radius: 5px;
    box-shadow: 0 3px 8px #00000060;
    padding: 8px;
}

.container__item--01 {
    grid-area: head;
}

.container__item--02 {
    grid-area: side;
}

.container__item--03 {
    grid-area: box1;
}

.container__item--04 {
    grid-area: box2;
}

.container__item--05 {
    grid-area: box3;
}

.container__item--06 {
    grid-area: main;
}

.container__item--07 {
    grid-area: foot;
}