* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background-color: lightcyan;
}

.container {
    background-color: lightgoldenrodyellow;
    width: 1000px;
    margin: 80px auto;
    border-radius: 5px;
    box-shadow: 0 5px 15px #00000080;
    padding: 12px;

    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.container__item {
    background-color: lightsalmon;
    border-radius: 5px;
    box-shadow: 0 3px 8px #00000060;
    padding: 8px;
}

.container__item--01 {
    grid-area: 1 / 1 / 2 / -1;
}

.container__item--02 {
    grid-area: 2 / 4 / 8 / -1;
}

.container__item--03 {
    grid-area: 2 / 1 / 4 / 2;
}

.container__item--04 {
    grid-area: 2 / 2 / 4 / 3;
}

.container__item--05 {
    grid-area: 2 / 3 / 4 / 4;
}

.container__item--06 {
    grid-area: 4 / 1 / 8 / 4;
}

.container__item--07 {
    grid-area: 8 / 1 / -1 / 5;
}