// Aula 20, 21:
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');


$verdeClaro: #7ed56f;
$verdeMedio: #55c57a;
$verdeEscuro: #28b485;

$cinzaClaro: #777;
$branco: #fff;
$preto: #000;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* Não são suportados em browsers muito antigos */
html {
    /* 100% === 16px */
    font-size: 62.5%;
    /* 1 rem === 10px */
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $cinzaClaro;
    padding: 3rem;
    box-sizing: border-box;
}

.header {
    height: 95vh;
    position: relative;
    background-image: linear-gradient(
        to right bottom, 
        rgb($verdeClaro, 0.8), 
        rgb($verdeEscuro, 0.8)), 
    url(images/hero.jpg);

    background-size: cover;
    background-position: top;
    /* CSS moderno */
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 3.5rem;
    }

    &__text-box {
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

.heading-primary {
    color: $branco;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
    
        animation: moveInLeft 1s ease-out;
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.74rem;
    
        animation: moveInRight 1s ease-out;
    }
    
    @keyframes moveInLeft {
        0% {
            opacity: 0;
            transform: translateX(-10rem);
        }
    
        80% {
            transform: translateX(1rem);
        }
    
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
    
    @keyframes moveInRight {
        0% {
            opacity: 0;
            transform: translateX(10rem);
        }
    
        80% {
            transform: translateX(-1rem);
        }
    
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
}


.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        /* Melhor para usar já que o botão não fica com width: 100% */
        /* Diferente do block */
        display: inline-block;
        border-radius: 10rem;
        transition: all 0.2s;
        position: relative;
        font-size: 1.5rem;
    }

    /* Usa um efeito de clicado como se fosse na vida real com :hover e :active */
    /* Diminui a sombra para da um efeito melhor */
    &:hover{
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgb($preto, 0.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgb($preto, 0.2);
    }

    &--white {
        background-color: $branco;
        color: $cinzaClaro;

        &::after {
            background-color: $branco;
        }
    }

    &::after {
        content: "";
        display: inline-block;
        /* É como se fosse um elemento filho do btn por isso da certo */
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        /* Referencia é o primeiro position relative que ele encontrar */
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    @keyframes moveInBottom {
        0% {
            opacity: 0;
            transform: translateY(3rem);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}
